body {
    background: #363636;
 
}
.landing-page .logo {
    width: 100vw;
    background-color:#4F4F4F;
    margin-top: -10px;
    display: flex;
    color: whitesmoke;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 10px;
    
}
.git-hub figure img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 94rem;
    
}

